
<p class="text">
	We'll get to talk more about our team in near future, currently we're way too busy to write about ourselves.
	<br />
	Anyways, you can rest sure we're superawesome at what we do.
</p>