<h2>Meaning of our name</h2>

<p class="text">
	Word "klupko" means "a cotton hank" in Bosnian. 
	Just like with ideas, hanks are unveiled slowly until the final goal: the product. 
	We live for those moments, when something that started as an idea becomes the beautiful reality.
</p>
<p class="text">
	Since we're originally from Sarajevo (Bosnia), it made sense to be called "Klupko" at the time when we worked with domestic clients only. 
	Later on we added some "juice" to it by transforming the "u" to "oo", ending up with "Kloopko".
</p>