<div class="boxed">
	<h2>Meaning of our name</h2>
	<div class="padded">
		<p class="text">
			The word "klupko" (pronunced /klûpko/) means "a yarn" in Bosnian language. 
			Just like with ideas, yarns are unveiled until they become complete products. 
			Our team lives for that particular moment, when something that started as an idea becomes something really awesome.
		</p>
		<p class="text">
			Since we're originally from Sarajevo (Bosnia), it made sense to be called "Klupko" at the time when we worked with domestic clients only. 
			Later on we added some "juice" to it by transforming the "u" to "oo", ending up with "Kloopko".
		</p>
	</div>
</div>
 