
<div class="clearfix">
	<h1 class="great">
		<strong>kloopko does web development <em>&amp;</em> consulting!</strong>
	</h1>
	<h3 class="great">
		We do <a href="/services/development">web design &amp; development</a>, refactor old websites using modern OpenSource technologies
		<br />
		like <a href="/services/html5">HTML 5</a> &amp; <a href="/services/css3">CSS 3</a>, <a href="/services/kohana">Kohana Framework consulting</a> 
		and <a href="/contact">anything you want</a> us to do!
	</h3>
</div>

<div class="clearfix boxes">
	<div class="boxy">
		<h3>Consulting</h3>
		<p>
			We are a team of people <mark>specialized in working with Kohana</mark> and rocking it full-time every day, with all kinds of clients.
			And we do <a href="/services/kohana">Kohana consulting</a> starting at <strong>$30/hour</strong>!
		</p>
	</div>
	<div class="boxy">
		<h3>Development</h3>
		<p>
			We developed all kinds of web applications using Kohana: e-commerce, social networks, domain &amp; hosting applications, and it never failed us!
			Not a single time.
		</p>
	</div>
	<div class="boxy last">
		<h3>Kohana</h3>
		<p>
			We use one framework only - <a href="http://kohanaframework.org" target="_blank">Kohana 3</a>.
			It’s free, extremely fast, stable and it enables us to develop high quality applications in really short time.
			<a href="/contact">Do you need a website?</a>
		</p>
	</div>
</div>