<div class="clearfix boxes">
	<div class="boxy">
		<h3>Consulting</h3>
		<p>
			We are a team of people specialized in working with Kohana and rocking it full-time every day, with all kinds of clients.
			And we do <a href="/services#kohana_consulting">Kohana consulting</a> starting at <strong>$30/hour</strong>!
		</p>
	</div>
	<div class="boxy">
		<h3>Development</h3>
		<p>
			We developed all kinds of web applications using Kohana: e-commerce, social networks, domain &amp; hosting applications, and it never failed us!
			<br />
			Not a single time.
		</p>
	</div>
	<div class="boxy last">
		<h3>Kohana</h3>
		<p>
			We use one framework only - <a href="http://kohanaframework.org" target="_blank">Kohana 3</a>.
			It’s free, extremely fast, stable and it enables us to develop high quality applications in really short time.
			<br />
			<a href="/contact">Let us know</a> if you have questions!
		</p>
	</div>
</div>