<aside class="span-6 last right" id="shit">
	<h2>Services</h2>
	<div class="padded">
		<ul>
			<li>
				<a href="/services/frameworks">Frameworks</a>
				<ul>
					<li>
						<a href="/services/jquery">jQuery</a>
					</li>
					<li>
						<a href="/services/kohana">Kohana</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="/services/development">Web Development</a>
				<ul>
					<li>
						<a href="/services/css3">CSS 3</a>
					</li>
					<li>
						<a href="/services/html5">HTML 5</a>
					</li>
					<li>
						<a href="/services/javascript">JavaScript</a>
					</li>
					<li>
						<a href="/services/php">PHP</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	
	<h2>Want to hire us?</h2>
	<div class="padded">
		<p>You should <a class="contact_us_button" href="/contact">get in touch</a>!</p>
	</div>
</aside>