<article class="boxed span-18">
	<header>
		<h2>Frameworks</h2>
	</header>
	<div class="padded text">
		First, let's make something clear: Joomla isn't a framework. We don't do anything related to Joomla or similar.
		<br />
		What we do are <strong>secure, fast and stable</strong> custom tailored web applications. 
		<br />
		<br />
		We use different kinds of frameworks for our job, both for back-end and front-end development. 
		This saves us a lot of development time because we don't have to do all the things from scratch every time. 
		This also means that you get to save lots of money directly.
		<br />
		<br />
		Frameworks we use for back-end development:
		<ul>
			<li>
				<strong>PHP</strong>
				<ul>
					<li>Kohana PHP</li>
				</ul>
			</li>
		</ul>
		<br />
		Frameworks we use for front-end development:
		<ul class="padded">
			<li>
				<strong>CSS</strong>
				<ul>
					<li>Blueprint CSS</li>
					<li>Bootstrap (from Twitter)</li>
					<li>LESS</li>
				</ul>
			</li>
			<li>
				<strong>JavaScript</strong>
				<ul>
					<li>jQuery</li>
					<li>jQuery UI</li>
					<li>PrototypeJS</li>
					<li>script.aculo.us</li>
				</ul>
			</li>
		</ul>
	</div>
</article>

{{>sidebar}}