<div class="span-18">
	<h3>Web Development</h3>
	<p class="text">
		Altough there are quite a few things we do, developing web sites is our primary skill. 
	</p>
	
	<h3 id="kohana_consulting">Kohana Framework Consulting</h3>
	<p class="text">
		We believe that <a href="http://kohanaframework.org" target="_blank">Kohana</a> is the best PHP framework out there. 
		It allows us to create clean, stable, secure and high performance web applications in really short time.
		<br />
		Since we've chosen it as our default development weapon, we really know pretty much everything there is to know about it. 
	</p>
</div>
<div class="span-6 last" id="shit">
	<strong>Want to work with us?</strong>
	<br />
	<p>You should get in touch!</p>
	<a class="contact_us_button" href="/contact">
		Contact Us! ... if you qualify
	</a>
</div>