{{>sidebar}}

<div class="boxed span-18">
	<h2>Web Development</h2>
	<p class="padded text">
		Altough there are quite a few things we do, custom web solutions are our primary focus. 
	</p>
	
	<h2 id="kohana_consulting">Kohana Framework Consulting</h2>
	<p class="padded text">
		We believe that <a href="http://kohanaframework.org" target="_blank">Kohana</a> is the best PHP framework out there. 
		It allows us to create clean, stable, secure and high performance web applications in really short time.
		<br />
		Since we've chosen it as our default development weapon, we really know pretty much everything there is to know about it. 
	</p>
</div>