<div class="boxed span-18">
	<h2>Consulting</h2>
	<p class="padded text">
		We consider jQuery to be the best JavaScript framework out there, both for 
		<abbr title="Rapid Application Development">RAD</abbr> and more complex applications.
	</p>
</div>

{{>sidebar}}