<div class="boxed span-18">
	<h2>Consulting</h2>
	<p class="padded text">
		We believe that <a href="http://kohanaframework.org" target="_blank">Kohana</a> is the best PHP framework out there. 
		It allows us to create clean, stable, secure and high performance web applications in really short time.
		<br />
		<br />
		We just love working with Kohana both for clients and on our own projects! 
		Since we've chosen it as our default development weapon, we really know pretty much everything there is to know about it. 
	</p>
	
	<h2 id="kohana_consulting">Start-ups consulting</h2>
	<p class="padded text">
		We are entrepreneurs ourselves so we had to choose the best tools for bootstraping our own startups. 
		Combined with Blueprint, jQuery, LESS &amp; Mustache, Kohana becomes awesome for Rapid Application Development.
		<br />
		<br />
		We already worked on many startups, so why not yours? <a href="/contact">Contact us!</a>
	</p>
	
	<h2>About Kohana</h2>
	<p class="padded text">	
		Kohana is an elegant, lightweight and extremely <abbr title="Don't repeat yourself">DRY</abbr> PHP5 framework, 
		which makes it a perfect weapon for any start-up / web application. Based on <abbr title="Hierarchical Model-View-Controller">(H)MVC</abbr> pattern, pre-packed with
		<abbr title="Authentication">auth</abbr>, <abbr title="Object Relational Mapping">ORM</abbr> (based on <abbr title="Active Record">AR</abbr> pattern) 
		and other libraries for database / image manipulation, unit testing, templating and much more.
		<br />
		<br />
		Consider it "Rails for PHP", without scaffolding :)
	</p>
</div>

{{>sidebar}}