<section class="span-18">		
		<article class="padded text">
			{{#post}}{{{text_html}}}{{/post}}
		</article>
		
		<footer>
			<h2>About the author</h2>
			...
		</footer>
</section>

<aside class="span-6 last right">
	<ul class="padded">
		<li>
			<a href="/blog/rss">RSS</a>
		</li>
	</ul>
</aside>