<!DOCTYPE html>
<html class="no-js">
<head lang="{{lang}}">
<meta charset="{{charset}}">
<title>{{title}}</title>
<link type="text/css" rel="stylesheet" href="/media/css/screen.css" media="screen" />
<link type="text/css" rel="stylesheet" href="/media/css/app.css" media="screen" />
<link href="/media/img/favicon.png" rel="shortcut icon"/>
{{#redirect_url}}
<meta http-equiv="refresh" content="{{redirect_timeout}};{{redirect_url}}" />{{/redirect_url}}
{{#head_js}}
<script src="{{src}}" type="text/javascript"></script>{{/head_js}}
<link type="text/plain" rel="author" href="/humans.txt">
<meta name="description" content="{{description}}">
<meta name="robots" content="index, follow">
<meta name="google-site-verification" content="ryh5EEpGDLvgr59o9XYQQHsvheqIYME7ks2mKmeUANk" />
</head>
<body>
	<header id="header">	
		<div class="inner">	
			<div class="container">
				<a class="logo" href="/">
					<img src="/media/img/logo.png" alt="kloopko - web design &amp; development" />
				</a>
				<nav>
					<div class="span-13">
						<ul id="main_menu">
							{{#menu_links}}
							<li>
								<a class="{{#selected}}selected{{/selected}}" href="{{href}}">{{text}}</a>
							</li>
							{{/menu_links}}
						</ul>
						{{#submenu}}
						<ul id="sub_menu">
							{{#links}}
							<li>
								<a class="{{#selected}}selected{{/selected}}" href="{{href}}">{{text}}</a>
							</li>
							{{/links}}
						</ul>
						{{/submenu}}
					</div>
					<ul class="contact">
						<li>
							<a href="/contact">
								<span>Contact us</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		{{#headline}}
		<div class="hgroup_wrapper">
			<div class="inner">
				<hgroup class="container">
					<h1>{{{headline}}}</h1>
					{{#subtitle}}
					<h2>{{subtitle}}</h2>
					{{/subtitle}}
				</hgroup>
			</div>
		</div>
		{{/headline}}
	</header>
	<section id="content">
		<div class="inner">
			<div class="container">
			{{>content}}
			</div>
		</div>
	</section>
	<footer id="footer">
		<div class="inner">
			<div class="container">
				<address class="left">
					<a href="/about/klupko" style="color:#fff;text-decoration:none;">
						<strong>Klupko</strong>
					</a>
					<br />
					Sarajevo, Bosnia &amp; Herzegovina
					<br />
					<br />
					<a href="/contact">Contact us</a>
				</address>
				<div class="right" style="text-align:right;">
					Copyright Kloopko {{year}}.
					<br />
					All Rights Reserved.
					<br />
					<br />
					Follow us:
					<a href="http://twitter.com/kloopko" rel="nofollow">Twitter</a> &nbsp;
					<a href="http://www.facebook.com/kloopko" rel="nofollow">Facebook</a> &nbsp;
					<a href="http://www.github.com/kloopko" rel="nofollow">GitHub</a>
				</div>
			</div>
		</div>
	</footer>
{{{analytics}}}
</body>
</html>